# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Build directories
build/
dist/

# Environment variables
.env
.env.*
!.env.example
frontend/.env
frontend/.env.*
infra/docker/.env.prod

# Logs
*.log

# Python virtualenvs
.venv/

# Python cache
__pycache__/
*.pyc

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
*.tfvars.json
!*.tfvars.example
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json


#copilot-instruction
.github/copilot-instructions.md

#my_personal_text
googpromt.txt
